body {
	background-color: midnightblue;
	font-family: 'Blinker', sans-serif;

}

.intro {
	background: url('../images/program_code_background.jpg');
	background-position: top center;
	background-repeat: no-repeat;
}