body {
	background: rgb(33,138,139);
  background: -moz-linear-gradient(90deg, rgba(33,138,139,1) 22%, rgba(46,49,195,1) 63%);
  background: -webkit-linear-gradient(90deg, rgba(33,138,139,1) 22%, rgba(46,49,195,1) 63%);
  background: linear-gradient(90deg, rgba(33,138,139,1) 22%, rgba(46,49,195,1) 63%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#218a8b",endColorstr="#2e31c3",GradientType=1);
	font-family: 'Blinker', sans-serif;

}

.intro {
	background: url('../images/program_code_background.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.enter {
	border-left: 6px solid blue;
  	background-color: lightgrey;
  	background-color: rgba(255, 255, 255, 0.4);
  	margin: auto;
  	margin-top: 25%;
  	width: 40%;
  	text-align: center;
}

.enter h1 {
	font-size: 64px;
	color: black;
	text-shadow: 2px 2px lime;
}

.button {
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);
  border: none;
  font-size: 28px;
  color: lime;
  padding: 10px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.navbar ul {
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

.navname {
  margin-right: 40%;
  font-size: 32px;
}

.navbar ul li {
  display: inline-flex;
  background-color: white;
  padding: 20px 20px;
}

main {
  margin-left: 20%;
}

img {
  height: 200px;
}
